.two-thirds, #signed_out, #signed_in, .panel
{
	display:none;
}
.read .create_options
{
	display:flex;
	flex-wrap:wrap;
}
.option
{
	flex:1;
	flex-direction:column;
	margin-right:2%;
}
.input_empty
{
	color:red;
}
.toolbar
{
	background-color: black;
	color:white;
	width:100%;
	padding-top:0.5%;
	padding-bottom:0.5%;
	text-align: right;
	bottom:0;
	position:fixed;
}
.toolbar span
{
	padding: 0.5%;
}